
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
            color: #333;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .header {
            background: url('./images/dezire-innerbanner.jpg');
            color: #fff;
            padding: 20px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header div {
            display: flex;
            align-items: center;
        }

        .header img {
            max-width: 86px;
            height: 81px;
            margin-right: 10px;
        }

        .header h1 {
            margin: 0;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
        }

        nav ul li {
            margin-right: 20px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

        nav ul li a:hover {
            text-decoration: underline;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex: 1;
            margin-top: 20px;
        }

        .bag {
            margin: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 300px;
            background-color: #fff;
            text-align: center;
        }

        .bag img {
            object-fit: cover;
            width: 300px;
            height: 400px;
        }

        .bag h2 {
            margin-top: 10px;
            font-size: 18px;
            color: #333;
        }

        .bag p {
            margin: 10px 0;
            font-size: 14px;
            color: #555;
        }

        footer {
            background-color: #315c75;
            color: #fff;
            padding: 20px;
            text-align: center;
            flex-shrink: 0;
        }

        footer p {
            margin: 0;
        }

        a {
            color: #fff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        @media (max-width: 768px) {
            .header {
                padding: 10px;
            }

            .header img {
                max-width: 60px;
                height: auto;
                margin-right: 5px;
            }

            .header h1 {
                font-size: 18px;
            }

            nav ul li {
                margin-right: 10px;
            }

            nav ul li a {
                font-size: 14px;
            }
        }


        .container{
            width: 900px;
            margin: auto;
            max-width: 90vw;
            text-align: center;
            padding-top: 10px;
            transition: transform .5s;
        }
        svg{
            width: 30px;
        }
        header{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
        }
        .icon-cart{
            position: relative;
        }
        .icon-cart span{
            position: absolute;
            background-color: red;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: #fff;
            top: 50%;
            right: -20px;
        }
        .title{
            font-size: xx-large;
        }
        .listProduct .item img{
            width: 90%;
            filter: drop-shadow(0 50px 20px #0009);
        }
        .listProduct{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }
        .listProduct .item{
            background-color: #EEEEE6;
            padding: 20px;
            border-radius: 20px;
        }
        .listProduct .item h2{
            font-weight: 500;
            font-size: large;
        }
        .listProduct .item .price{
            letter-spacing: 7px;
            font-size: small;
        }
        .listProduct .item button{
            background-color: #353432;
            color: #eee;
            border: none;
            padding: 5px 10px;
            margin-top: 10px;
            border-radius: 20px;
        }
        
        /* cart */
        .cartTab{
            width: 400px;
            background-color: #353432;
            color: #eee;
            position: fixed;
            top: 0;
            right: -400px;
            bottom: 0;
            display: grid;
            grid-template-rows: 70px 1fr 70px;
            transition: .5s;
        }
        body.showCart .cartTab{
            right: 0;
        }
        body.showCart .container{
            transform: translateX(-250px);
        }
        .cartTab h1{
            padding: 20px;
            margin: 0;
            font-weight: 300;
        }
        .cartTab .btn{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .cartTab button{
            background-color: #E8BC0E;
            border: none;
            font-family: Poppins;
            font-weight: 500;
            cursor: pointer;
        }
        .cartTab .close{
            background-color: #eee;
        }
        .listCart .item img{
            width: 100%;
        }
        .listCart .item{
            display: grid;
            grid-template-columns: 70px 150px 50px 1fr;
            gap: 10px;
            text-align: center;
            align-items: center;
        }
        .listCart .quantity span{
            display: inline-block;
            width: 25px;
            height: 25px;
            background-color: #eee;
            border-radius: 50%;
            color: #555;
            cursor: pointer;
        }
        .listCart .quantity span:nth-child(2){
            background-color: transparent;
            color: #eee;
            cursor: auto;
        }
        .listCart .item:nth-child(even){
            background-color: #eee1;
        }
        .listCart{
            overflow: auto;
        }
        .listCart::-webkit-scrollbar{
            width: 0;
        }
        @media only screen and (max-width: 992px) {
            .listProduct{
                grid-template-columns: repeat(3, 1fr);
            }
        }
        
        
        /* mobile */
        @media only screen and (max-width: 768px) {
            .listProduct{
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .listProduct .item img {
            width: 90%;
            object-fit: cover;
            height: 300px;
            filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 50px 20px);
        }
    